.detail-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.box-detail {
  z-index: 2;
  padding: 40px 40px;
}

.link-text {
  text-decoration: none;
  color: #10F6B7;
}
