.detail-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.box-detail {
  z-index: 2;
  padding: 40px 40px;
}

.link-text {
  text-decoration: none;
  color: #10F6B7;
}

.trash-hover:hover {
  opacity: 0.6;
}

.module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #f731db, #4600f1);
  padding: 3px;
}

#search-text {
  color: #f731db;
}

.play-font {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
}

.box-bg {
  background-color: #10F6B7;
}

.text-placeholder::placeholder {
  color: #f9fafc;
}
