// Specific CSS for your home-page
h1 {
  color: $green;
  font-size: 20px;
}

.form-shape {
  width: 70%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  color: #d217d9;
}

h4 {
  font-size: 15px;
  color: #10f6b7;
}
