// Specific CSS for your home-page
h1 {
  color: $green;
  font-size: 20px;
}

.form-shape {
  width: 70%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 15px;
}

#login {
  border: 1px solid #10F6B7;
}

#login:hover {
  border: 1px solid #f9fafc;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.sticky-map {
  width: 100%;
  height: 150vh;
  position: sticky;
  top: 0;
}

#create-event {
  margin-bottom: 50px;
  justify-items: center;
  justify-content: center;
}
