// Specific CSS for your home-page
body {
  background-color: black;
}

.extra-padding1 {
  padding-top: 100px;
}

.extra-padding2 {
  padding-bottom: 100px;
}

h1 {
  color: $green;
  font-size: 20px;
}

.form-shape {
  width: 70%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 15px;
}

#login {
  border: 1px solid #10F6B7;
}

#login:hover {
  border: 1px solid #f9fafc;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.sticky-map {
  width: 100%;
  height: 150vh;
  position: sticky;
  top: 0;
}

#create-event {
  margin-bottom: 50px;
}

#create-event a {
  color: #f9fafc;
}

.better-margin {
  margin-top: 100px;
}
// XP status bar
.exp {
  position: relative;
  width: 300px;
  height: 30px;
  border: 2px solid #999;
  border-radius: 8px;
  padding: 1px;
  span {
      display: inline-block;
      height: 14px;
      border-radius: 6px;
      animation: xp 3s ease forwards;
      opacity: 0.5;
  }
  .xp {
      width: 50%;
      height: 100%;
  }
}

@keyframes xp {
  from {
    width: 0%;
    background: $green;
    }
  to {
    width: 50%;
    background: $pink;
    }
}

// scrolling

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.scrollin {
  animation: counter 5s ease-in-out;
  counter-reset: num var(--num);
  font: "Press Start 2P";
  padding: 2rem;
}
.scrollin::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 75;
  }
}

//shake shake shake shake shaaaaake

.avatar-dash:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

//FIREWORKSSSSSS YAY
