<h1>Applications#new</h1>
<p>Find me in app/views/applications/new.html.erb</p>

<div class="container">
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-12 col-lg-6">
      <%= link_to "Back to all Jobs", jobs_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
</div>
