
<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
<div class="container">
  <div class="detail-card">
    <div class="box box-show">
      <span></span>
      <div class="box-detail">
        <h2>Sound Designer at Ubisoft</h2><br>
        <p>
        <h4>COMPANY LOCATION</h4>
        <i>Ubisoft Toronto Inc.
        <br>
        224 Wallace Avenue. M6H 1V7
        <br>
        Toronto, Ontario
        <br>
        www.toronto.ubisoft.com</i>
        <br><br><br>
        <h4>COMPANY DESCRIPTION</h4>
        <br>
        Ubisoft’s 19,000 team members, working across more than 40 locations worldwide, are bound by a joint mission to enrich players’ lives with original and memorable gaming experiences. Their dedication and talent have brought to life many acclaimed franchises such as Assassin’s Creed, Far Cry, Watch Dogs, Just Dance, Rainbow Six, and many more to come. Ubisoft is an equal opportunity employer who believes diverse backgrounds and perspectives are vital in creating worlds where players and teams can thrive and express themselves.  If you are excited about solving game changing challenges, cutting edge technologies, and pushing the boundaries of entertainment, we invite you to join our journey and help us create the unknown.
        <br><br>
        <b>Our Studio</b><br><br>

        Ubisoft Toronto is one of the largest development studios within Ubisoft, employing talented developers from around the world. We create worlds and tell stories that grip you, inspire you and challenge you. Since opening in 2010, we have shipped innovative game projects on some of Ubisoft’s biggest brands: Assassin’s Creed, Far Cry, Watch Dogs, For Honor and Tom Clancy’s Splinter Cell.

        Most recently, we launched Far Cry 6, the most ambitious Far Cry game to date, featuring the talented Giancarlo Esposito as Anton Castillo. Our studio has also led the development of the newest game in the Watch Dogs franchise – Watch Dogs: Legion (2020), a stand out for its tech and design work, play as anyone gameplay in an open world, and rich and detailed rendition of a future London. Starlink: Battle for Atlas (2018) was Ubisoft Toronto’s first new IP, using technology that seamlessly blended physical and digital gameplay. Splinter Cell Blacklist was the first title released by Ubisoft Toronto in 2013. We have an exciting roadmap of projects for the future and can’t wait to share more details.

        Are you looking to work with enthusiastic experts who are tackling industry-changing challenges in entertainment and beyond? At Ubisoft Toronto, we are always striving to get better, be better and do better – embracing innovative ideas, exploring new technologies, and working together courageously and collaboratively.
        <br><br>
        <h4>COMPANY SIZE: 100.000</h4>
        <br>
        <h4>START DAY: <b><em>RIGHT NOW!!!</em></b></h4>
        <br>
        <h4>JOB DESCRIPTION</h4>
        <b>On being a Gameplay Programmer at Ubisoft Toronto</b><br>

        When you’re a Gameplay Programmer at Ubisoft Toronto, you have direct influence over the quality of the game that will end up in the players’ hands; there is a tangible link between your work and the player experience. You are entrusted with coding the interactive systems that make the game.
        <br>
        With every new iteration, you commit yourself to answering the most fundamental questions: Will the player enjoy this? Does it feel right? Is it AAA quality? You’re an avid gamer who cares about the player experience.
        <br>
        As a dependable member of a cohesive gameplay team composed of AI, UI and 3Cs specialists, you will bring to life the vision of the game and mission designers, who will take your point of view and expertise into consideration when making their decisions.
        <br><br>
        <b>Type of Position: Permanent, full-time.</b>
        <br><br>
        <b>The daily life of a Gameplay Programmer at Ubisoft Toronto</b>
        <br><br>
        <ul>
          <li>Design, implement, debug, and iterate on new and existing player centric gameplay systems. You will focus on character locomotion, camera, controls and combat together with game designers</li>
          <li>Keep them coherent with existing code</li>
          <li>Investigate and solve problems independently</li>
          <li>Drive initiatives related to creating and improving systems and be responsible for the performance of systems</li>
          <li>Develop gameplay tools for content teams</li>
          <li>Understand existing functions, and suggest and develop improvements</li>
          <li>Collaborate with designers and animators on environments</li>
          <li>Resolve gameplay bugs</li>
          <li>Document your work</li>
        </ul>
        <h4>YOUR QUALIFICATIONS</h4>
        <b>What it takes to make it:</b>
        <br>
        <ul>
          <li>An undergraduate degree in Computer Science, Computer Engineering, Software Engineering, or equivalent training or relevant experience</li>
          <li>Excellent understanding of C++, including refactoring, optimization, debugging and testing</li>
          <li>Strong experience in profiling and low-level optimizations</li>
          <li>Experience in gameplay, AI, and design (main character, cameras, NPCs, environment, behaviours)</li>
          <li>Experience from modern game development and a never-ending curiosity for the games industry and new technology</li>
          <li>Proficiency to communicate with all disciplines and to support and elevate the team in terms of quality and vision of the game</li>
          <li>You are creative and thirsty for innovation</li>
        </ul>
        <br>
        We know that skills and competencies show up in different forms and can be based on different experiences, that's why we strongly encourage you to apply even though you may not have all the requirements listed above.
        <br><br>
        We know that skills and competencies show up in different forms and can be based on different experiences, that's why we strongly encourage you to apply even though you may not have all the requirements listed above.
        <br><br>
        <h4>JOB PERKS</h4>
        <b>We Offer:
        <ul>
          <li>A hybrid, flexible work model
          <li>Six weeks of vacation
          <li>An enhanced parental leave program
          <li>Comprehensive Total Rewards Package:</b>
          <ul>
          <li>Disability Insurance
          <li>Dental Insurance
          <li>Extended medical insurance
          <li>(Optional) RRSP contribution
          <li>Relocation Assistance
          <li>Bonus (If Applicable)
        </ul><br>
        <br>
        <b>If this sounds like your kind of studio, what are you waiting for?</b>
        <br><br>
        Ubisoft Toronto is committed to providing accommodations for accessibility upon request.
        <br><br>
        We thank you for your interest, however, only those candidates selected for an interview will be contacted. <strong>No agencies please.</strong>
        <br><br>
        </p>
        <%= link_to "Apply", new_job_application_path(params[:id])%>
        <a href="#">Save</a>
        <a href="#">Refer a friend</a>
      </div>
    </div>
  </div>
</div>
