<div class="footer">

  <div class="container" style="margin-bottom: 50px;">
  <img src="https://i.gifer.com/origin/0a/0a0fa730e0843b2b144cfa57276ae9e3.gif" width="130px" />
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      © 2022 Nerdadvisor <i class="fa fa-gamepad" aria-hidden="true"></i> All Rights Reserved.
    </div>
  </div>
</div>
