<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- First Parallax Section -->
<%= render "shared/main-navbar" %>
<div class="paral paralsec">
  <div class="banner-home">
    <div class="container nav-margin">
      <div>
        <h1 class="text-center mb-4"><span data-controller="typed-js"></span></h1>
      </div>
      <div class="container">
        <%= form_tag jobs_path, method: :get do %>
        <div class="search">
          <div class="row">
            <div class="col-md-6">
              <div class="search-1">
                <i class='bx bx-search-alt'></i>
                  <%= text_field_tag :title, params[:title], placeholder: "Sound Designer"%>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="search-2">
                  <i class='bx bxs-map' ></i>
                    <%= text_field_tag :city, params[:city], placeholder: "Berlin, Germany"%>
                  <button>Find Job</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Second Parallax Section -->
<div class="paral paralsec1" style="min-height: 120vh;">
  <div class="container">
    <div class="row justify-content-evenly extra-padding1">
      <div class="card purple card-length d-flex flex-row" data-aos="zoom-out-right">
        <div>
          <img src="https://i.gifer.com/origin/69/6966a9ad90c9cfc1e1a8330086f61536_w200.gif" width="100px" />
        </div>
        <div>
          <h4 style="margin-left: 20px;"> The Gaming Industry is now bigger than the movie and music industry ... combined! </h4>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row justify-content-evenly my-5">
      <div class="col-4"></div>
      <div class="card green card-length d-flex flex-row" data-aos="zoom-out-left">
       <img src="https://i.gifer.com/origin/d4/d459d3d5a51f7c5224f71daa9f54318a.gif" width="70px" />
        <h4 style="margin-left: 20px;"> There are more than 2.7 billion gamers worldwide today. </h4>
      </div>
    </div>
    <div class="row justify-content-evenly my-5">
      <div class="card purple card-length d-flex flex-row" data-aos="zoom-out-right">
      <img src="https://64.media.tumblr.com/bdcd75a1aab889887222de90a1ed8246/tumblr_inline_ppm6bn5RHM1rtx1y2_1280.gif" width="130px" />
       <h4 style="margin-right: 20px;"> You don't have to be a coder to work in gaming! Musicians, artists, sales.. the gaming industry needs 'em all! </h4>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row justify-content-evenly extra-padding2">
      <div class="col-4"></div>
      <div class="card green card-length d-flex flex-row" data-aos="zoom-out-left">
        <img src="https://i.gifer.com/origin/83/83c09a2e9a4d7ca070a4640ff9c7125f_w200.gif" width="120px" />
        <h4> Use your skills, work in your passion, it's all possible! </h4>
      </div>
    </div>
  </div>
</div>
