<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<%= render "shared/main-navbar" %>

<!-- First Parallax Section -->
<div class="paral paralsec">
  <div class="banner-home bg-image">
    <div class="container nav-margin">
      <div>
        <h1 class="text-center mb-4"><span data-controller="typed-js"></span></h1>
      </div>

      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group form-shape">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Find Jobs
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Second Parallax Section -->
<div class="paral paralsec1">
  <div class="container">
    <div class="card purple" data-aos="zoom-out-right">Gaming industry is now bigger than music and movie combined </div>
    <div class="card green" data-aos="zoom-out-left"> The Gaming Industry is Booming looking for new talent! </div>
  </div>
</div>

<%#
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg);">
  <div class="container">
    <div>
      <h1><span data-controller="typed-js"></span></h1>
    </div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Find Job
      </button>
    </div>
  </form>

</div> %>
