.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-dash {
  height: 320px;
  position: relative;
  width: 320px;
}

.avatar-dash img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% { border-color: #10F6B7; }
  25% { border-color: #D217D9; }
  50% { border-color: #10F6B7; }
  75% { border-color: #D217D9; }
  100% { border-color: #10F6B7 }
  // 0% { border-color: hsl(0, 100%, 50%); }
  // 25% { border-color: hsl(90, 100%, 50%); }
  // 50% { border-color: hsl(180, 100%, 50%); }
  // 75% { border-color: hsl(270, 100%, 50%); }
  // 100% { border-color: hsl(360, 100%, 50%); }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar-dash::before,
.avatar-dash::after {
  animation: pulse 2s linear infinite;
  border: #D217D9 solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.avatar-dash::after {
  animation-delay: 1s;
}


.avatar-dash:hover::before,
.avatar-dash:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar-dash:hover::after {
  animation-delay: .5s;
}
