/* Buttons */
.btn-style {
  text-align: center;
}

.btn-secondary1 {
  background-color: $orange;
  border-color: transparent;
}

.btn-secondary1:hover {
  background-color: $yellow;
  border-color: transparent;
  transition: 0.5s;
}

.btn-secondary2 {
  background-color: $pink;
  border-color: transparent;
}

.btn-secondary2:hover {
  background-color: $purple;
  border-color: transparent;
  transition: 0.5s;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
