/* Event page-specific styling */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  width: 80%;
  padding: 0;
  color: $pink;
  border: 1px solid #10F6B7;
}

#create-event {
  margin-bottom: 50px;
}

#create-event a {
  color: #f9fafc;
}

#event-text {
  font-size: $font-sizes;
}
