/* Footer */
.footer {
  width: 100%;
  height: 200px;
  background-image: url(grid-bg.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: $green;
  text-align: center;
}


/* Footer icons */
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $green;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  a:hover {
    opacity: 0.7;
  }
}
