.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
}

.navbar-lewagon-scroll {
  background-color: #f9fafc;
  opacity: 0.9;

  a.nav-link {
    color: $pink;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30%;
}

#nav-homepage {
  margin: 10px 50px;
}

a.nav-link {
  color: $green;
}

a.nav-link:hover {
  color: #f9fafc;
}

.navbar-dark {
  border: 1px solid f9fafc;
}

.nav-item {
  margin-right: 20px;
}

.btn-link {
  text-decoration: none;
  background-color: $green;
  text-shadow: 1px 1px #D217D9;
}

#login a:hover {
  color: #f9fafc;
}

.nav-margin {
  margin-top: 20vh;
}
