.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
  background-image: url(https://images.pexels.com/photos/7776881/pexels-photo-7776881.jpeg);
  background-size: cover;
  background-position: 50% 46%;
}

.navbar-lewagon .navbar-collapse,
.main-navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img,
.main-navbar .navbar-brand img {
  width: 30%;
}

.main-navbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
}

#nav-homepage {
  margin: 10px 50px;
}

a.nav-link {
  color: $green;
}

a.nav-link:hover {
  color: #f9fafc;
}

.navbar-dark {
  border: 1px solid f9fafc;
}

.nav-item {
  margin-right: 10px;
  font-size: 12px;
}

.btn-link {
  text-decoration: none;
  background-color: $green;
  text-shadow: 1px 1px #D217D9;
}

#login a:hover {
  color: #f9fafc;
}

.nav-margin {
  margin-top: 20vh;
}
