/* Homepage navbar */
.main-navbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  font-family: $headers-font;
}

/* Pages navbar */
.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  font-family: $headers-font;
  background-image: url(https://wallpapercave.com/wp/wp1978951.jpg);
  background-size: cover;
  background-position: 50% 46%;
}

/* Navbar general styling */
.navbar-lewagon .navbar-brand img,
.main-navbar .navbar-brand img {
  width: 30%;
}

.navbar-lewagon .navbar-collapse,
.main-navbar .navbar-collapse {
  flex-grow: 0;
}

#nav-homepage {
  margin: 10px 50px;
}

.navbar-dark {
  border: 1px solid #f9fafc;
}

a.nav-link {
  color: $green;

  &:hover {
    color: #f9fafc;
  }
}

.nav-item {
  margin-right: 10px;
  font-size: 12px;
}

.nav-margin {
  margin-top: 20vh;
}

#login a:hover {
  color: #f9fafc;
}

#login {
  border: 1px solid #10F6B7;
}

#login:hover {
  border: 1px solid #f9fafc;
}

/*.btn-link {
  text-decoration: none;
  background-color: $green;
  text-shadow: 1px 1px #D217D9;
}*/

