/* Search field */
.search {
  background-color: $light-gray;
  padding: 4px;
  border-radius: 5px;
}

/* Left search field */
.search-1 {
  position: relative;
  width: 100%;

  input {
    border: none;
    height: 45px;
    width: 100%;
    padding-left: 18px;

    &:focus {
      border-color: none;
      box-shadow: none;
      outline: none
    }
  }

  i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: $light-gray;
  }
}

/* Right search field */
.search-2 {
  position: relative;
  width: 100%;

  input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;

    &:focus {
      border-color: none;
      box-shadow: none;
      outline: none;
    }
  }

  i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: $light-gray;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 45px;
    background-color: $pink;
    color: $light-gray;
    width: 90px;
    border-radius: 4px;
  }
}

/* Placeholder */
::placeholder {
  color: $pink;
  opacity: 0.8;
}

@media (max-width:800px) {
  .search-1 input {
      border-right: none;
      border-bottom: 1px solid $light-gray;
  }

  .search-2 i {
      left: 4px
  }

  .search-2 input {
      padding-left: 34px
  }

  .search-2 button {
      height: 37px;
      top: 5px
  }
}
